<html>

<head>
	<title>Batman VS Superman</title>
	<meta charset="UTF-8" />

	<style type="text/css">
		#batman{
			 text-align: center;
			 position: relative;
			 padding: 10px; 
			 width: 300px;
			 float: left;
		}
		#superman{
			 text-align: center;
			 padding: 10px; 
			 position: relative; 
			 float: right; 
			 width: 300px;
		}
	</style>

</head>

<body>
	<div id="batman">
		<img style="height:360px" src="src/resources/batman.png" alt="1-st player">
		<button id="firstfighter">Ckick Batman</button>
	</div>
	
	<div id="superman">
		<img src="src/resources/superman.png" alt="2-nd player">
		<button id="secondfighter">Ckick Superman</button>
		
		
	</div>
	<script src="src/public/index.js"></script>
</body>

</html>
